---
layout: default
title: I'm Ronnie Wang
---
<h1>{{ page.title }}</h1>

<!--<ul class="list-group">-->
    <!--{% for post in site.posts %}-->
    <!--<li class="list-group-item">-->
        <!--<a href="{{ site.baseurl }}{{ post.url }}">-->
            <!--<span class="glyphicon glyphicon-calendar"></span>{{ post.date | date_to_string }} {{ post.title }}-->
        <!--</a>-->
        <!--<p>{{ post.description }}</p>-->
    <!--</li>-->
    <!--{% endfor %}-->
<!--</ul>-->

{% for category in site.categories %}
<h2>{{ category | first }}</h2>
<span>该类别下共{{ category | last | size }}篇文章</span>
    {% for post in category.last %}
    <div class="item">
        <a href="{{ post.url }}">{{ post.title }}</a><span class="glyphicon glyphicon-calendar"></span>{{ post.date | date:"%Y-%d-%m" }}
        <p class="desc"> {{ post.description }}</p>
    </div>
    {% endfor %}
{% endfor %}
